@import url("https://fonts.googleapis.com/css2?famili=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins',sans-serif; }

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --whatsapp: #128C7E; }

.estiloimg {
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  max-width: 90%;
  max-height: 100%; }

@media only screen and (max-width: 600px) {
  /*inicio de pagina va en todas*/
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    padding: 1rem 0rem;
    margin: 0 0 0 0;
    content: 0 100% 0 0;
    background-color: #09285a;
    border-bottom: 1px solid black; }
    .header .ul-header {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; }
      .header .ul-header li {
        list-style: none;
        color: black;
        margin: 1rem 2rem; }
      .header .ul-header a {
        font-size: 125%;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 10px; }
      .header .ul-header a:hover {
        transition: 0.3s;
        background-color: #d1d1d9;
        color: white; }
    .header-img {
      width: 175px;
      border: 1px solid black; }
    .header .nav {
      padding: 0;
      background-color: #09285a; }
  /*final de pagina va en todas*/
  footer {
    display: flex;
    background-color: #242424;
    height: 100%;
    padding: 1rem 2rem;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center; }
    footer .div-footer {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .div-footer .pfooter {
        display: flex;
        font-size: 25px;
        color: white;
        justify-items: center;
        align-items: center; }
      footer .div-footer .info-footer {
        display: inline-block;
        font-size: 15px;
        color: white;
        justify-items: center;
        align-items: center; }
    footer .redes-container {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center; }
      footer .redes-container ul li {
        display: inline-block;
        margin: 5px 10px;
        /*espacio entre los iconos*/
        width: 50px;
        height: 50px;
        text-align: center; }
        footer .redes-container ul li a {
          display: block;
          padding: 0 10px;
          background: #09285a;
          color: #fff;
          line-height: 50px;
          font-size: 18px;
          box-shadow: 0 3px 5px 0px rgba(255, 255, 255, 0.4);
          transition: .2s; }
      footer .redes-container ul li a:hover {
        transform: translateY(-3) scale(1.05);
        box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.4);
        filter: none; }
      footer .redes-container ul li .facebook:hover {
        background: var(--facebook); }
      footer .redes-container ul li .instagram:hover {
        background: var(--instagram); }
      footer .redes-container ul li .whatsapp:hover {
        background: var(--whatsapp); }
      footer .redes-container ul li .twitter:hover {
        background: var(--twitter); } }

@media only screen and (min-width: 601px) and (max-width: 1079px) {
  /*inicio de pagina va en todas*/
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    padding: 1rem 0rem;
    margin: 0 0 0 0;
    content: 0 100% 0 0;
    background-color: #09285a;
    border-bottom: 1px solid black; }
    .header .ul-header {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; }
      .header .ul-header li {
        list-style: none;
        color: black;
        margin: 1rem 2rem; }
      .header .ul-header a {
        font-size: 125%;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 10px; }
      .header .ul-header a:hover {
        transition: 0.3s;
        background-color: #d1d1d9;
        color: white; }
    .header-img {
      width: 175px;
      border: 1px solid black; }
    .header .nav {
      padding: 0;
      background-color: #09285a; }
  /*final de pagina va en todas*/
  footer {
    display: flex;
    background-color: #242424;
    height: 250px;
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between; }
    footer .div-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      footer .div-footer .pfooter {
        display: flex;
        font-size: 25px;
        color: white;
        justify-items: center;
        align-items: center; }
      footer .div-footer .info-footer {
        display: inline-block;
        font-size: 15px;
        color: white;
        justify-items: center;
        align-items: center; }
    footer .redes-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .redes-container ul li {
        display: inline-block;
        margin: 10px 25px;
        /*espacio entre los iconos*/
        width: 50px;
        height: 50px;
        text-align: center; }
        footer .redes-container ul li a {
          display: block;
          padding: 0 10px;
          background: #09285a;
          color: #fff;
          line-height: 50px;
          font-size: 18px;
          box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4);
          transition: .2s; }
        footer .redes-container ul li a:hover {
          transform: translateY(-3) scale(1.05);
          box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.4);
          filter: none; }
        footer .redes-container ul li .facebook:hover {
          background: var(--facebook); }
        footer .redes-container ul li .instagram:hover {
          background: var(--instagram); }
        footer .redes-container ul li .whatsapp:hover {
          background: var(--whatsapp); }
        footer .redes-container ul li .twitter:hover {
          background: var(--twitter); } }

@media only screen and (min-width: 1080px) {
  /*inicio de pagina va en todas*/
  .header {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    display: flex;
    background-color: #09285a;
    padding: 1rem 0rem;
    margin: 0 0 0 0;
    border-bottom: 1px solid black;
    content: 0 100% 0 0; }
    .header .div-header {
      display: flex;
      width: 100%;
      justify-content: space-around; }
    .header-img {
      width: 175px;
      border: 1px solid black; }
    .header .nav {
      padding: 0;
      background-color: #09285a; }
    .header .ul-header {
      display: flex;
      width: 100%; }
      .header .ul-header li {
        list-style: none;
        color: black;
        display: inline-block;
        margin: 1rem 2rem; }
      .header .ul-header a {
        font-size: 125%;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 10px; }
      .header .ul-header a:hover {
        transition: 0.3s;
        background-color: #d1d1d9;
        color: white; }
  /*final de pagina va en todas*/
  footer {
    display: flex;
    background-color: #242424;
    height: 250px;
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between; }
    footer .div-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      footer .div-footer .pfooter {
        display: flex;
        font-size: 25px;
        color: white;
        justify-items: center;
        align-items: center; }
      footer .div-footer .info-footer {
        display: inline-block;
        font-size: 15px;
        color: white;
        justify-items: center;
        align-items: center; }
    footer .redes-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .redes-container ul li {
        display: inline-block;
        margin: 0 20px;
        /*espacio entre los iconos*/
        width: 50px;
        height: 50px;
        text-align: center; }
        footer .redes-container ul li a {
          display: block;
          padding: 0 10px;
          background: #09285a;
          color: #fff;
          line-height: 50px;
          font-size: 18px;
          box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4);
          transition: .2s; }
        footer .redes-container ul li a:hover {
          transform: translateY(-3) scale(1.05);
          box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.4);
          filter: none; }
        footer .redes-container ul li .facebook:hover {
          background: var(--facebook); }
        footer .redes-container ul li .instagram:hover {
          background: var(--instagram); }
        footer .redes-container ul li .whatsapp:hover {
          background: var(--whatsapp); }
        footer .redes-container ul li .twitter:hover {
          background: var(--twitter); } }

@media only screen and (max-width: 789px) {
  /*grilla galeria*/
  .main-gal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 400px 400px  100px 400px 400px 400px  100px 400px 400px 400px;
    grid-template-areas: 'tv' 'tv1'  'tv2'  'tv3' 'cel' 'cel1' 'cel2'  'cel3' 'pc' 'pc1' 'pc2' 'pc3';
    justify-items: center;
    align-items: center;
    background-color: #d1d1d9;
    height: 100%;
    width: 100%;
    padding: 0rem 2rem; } }

@media only screen and (min-width: 790px) and (max-width: 1079px) {
  /*grilla galeria*/
  .main-gal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 400px 400px 100px 400px 400px 100px 400px 400px;
    grid-template-areas: 't t ' 't1 t2'  't3 t4' 'c c' 'c1 c2'  'c3 c4' 'pc pc' 'pc1 pc2' 'pc3 pc4';
    justify-items: center;
    align-items: center;
    background-color: #d1d1d9;
    height: 100%;
    width: 100%;
    padding: 0rem 10rem; }
    .main-gal .tele {
      display: flex;
      grid-area: t;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .tele1 {
      grid-area: t1; }
    .main-gal .tele2 {
      grid-area: t2; }
    .main-gal .tele3 {
      grid-area: t3; }
    .main-gal .cel {
      display: flex;
      grid-area: c;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .cel1 {
      grid-area: c1; }
    .main-gal .cel2 {
      grid-area: c2; }
    .main-gal .cel3 {
      grid-area: c3; }
    .main-gal .compu {
      display: flex;
      grid-area: pc;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .pc1 {
      grid-area: pc1; }
    .main-gal .pc2 {
      grid-area: pc2; }
    .main-gal .pc3 {
      grid-area: pc3; } }

@media only screen and (min-width: 1080px) {
  /*grilla galeria*/
  .main-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 100px 400px 100px 400px;
    grid-template-areas: 't t t' 't1 t2 t3' 'c c c' 'c1 c2 c3' 'pc pc pc' 'pc1 pc2 pc3';
    justify-items: center;
    align-items: center;
    background-color: #d1d1d9;
    height: 100%;
    width: 100%;
    padding: 0rem 10rem; }
    .main-gal .tele {
      display: flex;
      grid-area: t;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .tele1 {
      grid-area: 't1'; }
    .main-gal .tele2 {
      grid-area: 't2'; }
    .main-gal .tele3 {
      grid-area: 't3'; }
    .main-gal .cel {
      display: flex;
      grid-area: c;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .cel1 {
      grid-area: 'c1'; }
    .main-gal .cel2 {
      grid-area: 'c2'; }
    .main-gal .cel2 {
      grid-area: 'c3'; }
    .main-gal .compu {
      display: flex;
      grid-area: pc;
      height: 50%;
      width: 50%;
      justify-content: center; }
    .main-gal .pc1 {
      grid-area: 'pc1'; }
    .main-gal .pc2 {
      grid-area: 'pc2'; }
    .main-gal .pc3 {
      grid-area: 'pc3'; } }

@media only screen and (max-width: 789px) {
  .encuestas, .main-cli, .main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1100px;
    width: 100%;
    padding: 2rem 2rem; }
  .encuestasdiv, .main-cli .main-cli-div1, .main-con .main-con-div1 {
    background-color: rgba(29, 86, 242, 0.758);
    padding: 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column; }
  /*menu principal*/
  .main-inicio {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #d1d1d9;
    height: 100%;
    padding: 3rem 2rem; }
    .main-inicio .div-ini {
      padding: 2rem 0;
      align-content: space-around;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      height: 90%;
      width: 90%; }
      .main-inicio .div-ini h1 {
        text-align: center; }
    .main-inicio .iframe-ini {
      border: 3px solid black;
      height: 0px;
      padding-bottom: 56.25%;
      position: relative; }
      .main-inicio .iframe-ini .iframe-a {
        width: 100%; }
    .main-inicio .iframe-ini iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  /*menu sobre nosotros*/
  .main-sn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #d1d1d9;
    height: 100%;
    width: 100%;
    padding: 2rem 2rem; }
    .main-sn .padre1 {
      display: flex;
      flex-direction: column;
      margin: 0 0 40px 0; }
      .main-sn .padre1 h2 {
        text-align: center;
        margin: 0 0 40px 0; }
    .main-sn .padre2 {
      display: flex;
      flex-direction: column;
      margin: 0 0 40px 0; }
    .main-sn .padre3 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-sn .padre3 .imgsn {
        height: 60%;
        width: 80%;
        margin: 0 0 40px 0; }
  /*menu clientes*/
  .main-cli {
    background-color: #d1d1d9; }
    .main-cli .main-cli-div1-boton {
      padding: 30px 0 0 0;
      text-align: center; }
  /*menu contacto*/
  .main-con {
    background-color: #d1d1d9; }
    .main-con .main-con-div1-boton {
      padding: 30px 0 0 0;
      text-align: center; } }

@media only screen and (min-width: 790px) and (max-width: 1079px) {
  .encuestas-tablet, .main-cli, .main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1100px;
    width: 100%;
    padding: 2rem 2rem; }
  .encuestasdiv-tablet, .main-cli .main-cli-div1, .main-con .main-con-div1 {
    background-color: rgba(29, 86, 242, 0.758);
    padding: 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column; }
  /*menu principal*/
  .main-inicio {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #d1d1d9;
    height: 100%;
    padding: 3rem 2rem; }
    .main-inicio .div-ini {
      padding: 2rem 0;
      align-content: space-around;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      height: 90%;
      width: 90%; }
      .main-inicio .div-ini h1 {
        text-align: center; }
    .main-inicio .iframe-ini {
      border: 3px solid black;
      height: 0px;
      padding-bottom: 56.25%;
      position: relative; }
      .main-inicio .iframe-ini .iframe-a {
        width: 100%; }
    .main-inicio .iframe-ini iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  /*menu de la galeria*/
  /*menu sobre nosotros*/
  .main-sn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #d1d1d9;
    height: 100%;
    width: 100%;
    padding: 2rem 2rem; }
    .main-sn .padre1 {
      display: flex;
      flex-direction: column;
      margin: 0 0 40px 0; }
      .main-sn .padre1 h2 {
        text-align: center;
        margin: 0 0 40px 0; }
    .main-sn .padre2 {
      display: flex;
      flex-direction: column;
      margin: 0 0 40px 0; }
    .main-sn .padre3 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-sn .padre3 .imgsn {
        height: 60%;
        width: 80%;
        margin: 0 0 40px 0; }
  /*menu clientes*/
  .main-cli {
    background-color: #d1d1d9; }
    .main-cli .main-cli-div1-boton {
      padding: 30px 0 0 0;
      text-align: center; }
  /*menu contacto*/
  .main-con {
    background-color: #d1d1d9; }
    .main-con .main-con-div1-boton {
      padding: 30px 0 0 0;
      text-align: center; } }

@media only screen and (min-width: 1080px) {
  /*menu inicial*/
  .main-inicio {
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #d1d1d9;
    height: 1600px;
    padding: 4rem 3rem;
    flex-direction: column; }
    .main-inicio .div-ini1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .main-inicio .div-ini1 .div-ini {
        justify-content: center;
        flex-direction: column;
        display: flex;
        height: 80%;
        width: 30%; }
      .main-inicio .div-ini1 p {
        font-size: 20PX;
        margin: 50px 0 0 0; }
    .main-inicio .iframe-ini {
      border: 3px solid black;
      height: 0px;
      padding-bottom: 56.25%;
      position: relative; }
    .main-inicio .iframe-ini iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    .main-inicio .iframe-a {
      width: 50%; }
  /*menu sobre nosotros*/
  .main-sn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #d1d1d9;
    height: 1100px;
    width: 100%;
    padding: 0 10rem 2rem 10rem; }
    .main-sn-hoja {
      background-color: whitesmoke; }
    .main-sn .padre1 {
      display: flex;
      flex-direction: column;
      margin: 30px 0 40px 0; }
      .main-sn .padre1 h2 {
        text-align: center;
        margin: 0 0 40px 0; }
    .main-sn .padre2 {
      display: flex;
      flex-direction: column;
      margin: 0 0 40px 0; }
      .main-sn .padre2 h2 {
        text-align: center;
        margin: 0 0 40px 0; }
    .main-sn .padre3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .main-sn .padre3 div {
        display: inline-block;
        width: 40%; }
      .main-sn .padre3 .imgsn {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        max-width: 50%;
        max-height: 70%;
        margin: 0 30px 0 30px;
        border: 1px solid black; }
    .main-sn .p-tex {
      font-size: 18px;
      padding: 0 20px 0 20px; }
  /*menu clientes*/
  .main-cli {
    display: flex;
    background-color: #d1d1d9;
    height: 800px;
    padding: 0rem 10rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly; }
    .main-cli p {
      font-size: 20px; }
    .main-cli-div1 {
      background-color: rgba(29, 86, 242, 0.758);
      padding: 40px 40px;
      border-radius: 20px;
      display: flex;
      flex-direction: column; }
      .main-cli-div1-boton {
        padding: 30px 0 0 0;
        text-align: center; }
  /*menu contacto*/
  .main-con {
    display: flex;
    background-color: #d1d1d9;
    height: 100%;
    padding: 5rem 10rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center; }
    .main-con-div0 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      background-color: rgba(29, 86, 242, 0.758);
      padding: 40px 40px;
      border-radius: 20px; }
      .main-con-div0-div1 {
        padding: 10px;
        display: flex;
        flex-direction: column; }
        .main-con-div0-div1-boton {
          padding: 30px 0 0 0;
          text-align: center; } }
