
@media only screen and (max-width: 789px ){
    /*grilla galeria*/
    .main-gal{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 400px 400px 
                        100px 400px 400px 400px 
                        100px 400px 400px 400px;
    grid-template-areas:'tv'
                        'tv1' 
                        'tv2' 
                        'tv3'
                        'cel'
                        'cel1'
                        'cel2' 
                        'cel3'
                        'pc'
                        'pc1'
                        'pc2'
                        'pc3';
    justify-items: center;
    align-items: center;
    background-color: $color2;
    height: 100%;
    width: 100%;
    padding: 0rem 2rem;


}
}

@media only screen and (min-width: 790px) and (max-width: 1079px){
    /*grilla galeria*/
    .main-gal{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 400px 400px 100px 400px 400px 100px 400px 400px;
    grid-template-areas: 't t '
                         't1 t2' 
                         't3 t4'
                         'c c'
                         'c1 c2' 
                         'c3 c4'
                         'pc pc'
                         'pc1 pc2'
                         'pc3 pc4';
    justify-items: center;
    align-items: center;
    background-color: $color2;
    height: 100%;
    width: 100%;
    padding: 0rem 10rem;
    .tele{
        display: flex;
        grid-area: t;
        height: 50%;
        width: 50%;
        justify-content: center;
    }
    .tele1{
        grid-area: t1;
        }
      .tele2{
        grid-area: t2;
        }
      .tele3{
        grid-area: t3;
        }
    
    .cel{
        display: flex;
        grid-area: c;
        height: 50%;
        width: 50%;
        justify-content: center;
    }
    
      .cel1{
        grid-area: c1;
      }
      .cel2{
        grid-area: c2;
      }
      .cel3{
        grid-area: c3;
      }
    
    
    
    .compu{
        display: flex;
        grid-area: pc;
        height: 50%;
        width: 50%;
        justify-content: center;
    }
    
       .pc1{
        grid-area: pc1;
       }
       .pc2{
        grid-area: pc2;
       }
       .pc3{
        grid-area: pc3;
       }
}
}

@media only screen and (min-width: 1080px ){
    /*grilla galeria*/
    .main-gal{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 400px 100px 400px 100px 400px;
        grid-template-areas: 't t t'
                             't1 t2 t3'
                             'c c c'
                             'c1 c2 c3'
                             'pc pc pc'
                             'pc1 pc2 pc3';
        justify-items: center;
        align-items: center;
        background-color: $color2;
        height: 100%;
        width: 100%;
        padding: 0rem 10rem;
        .tele{
            display: flex;
            grid-area: t;
            height: 50%;
            width: 50%;
            justify-content: center;
        }
        
          .tele1{
            grid-area: 't1';
            }
          .tele2{
            grid-area: 't2';
            }
          .tele3{
            grid-area: 't3';
            }
        
        .cel{
            display: flex;
            grid-area: c;
            height: 50%;
            width: 50%;
            justify-content: center;
        }
        
          .cel1{
            grid-area: 'c1';
          }
          .cel2{
            grid-area: 'c2';
          }
          .cel2{
            grid-area: 'c3';
          }
        
        
        
        .compu{
            display: flex;
            grid-area: pc;
            height: 50%;
            width: 50%;
            justify-content: center;
        }
        
           .pc1{
            grid-area: 'pc1';
           }
           .pc2{
            grid-area: 'pc2';
           }
           .pc3{
            grid-area: 'pc3';
           }
    
}
}