


@media only screen and (max-width: 600px ){

    /*inicio de pagina va en todas*/

    .header{
        align-items: center;
        flex-direction:row ;
    justify-content: space-evenly;
    display: flex;
    padding: 1rem 0rem;
    margin: 0 0 0 0;
    content: 0 100% 0 0;  
    background-color:$color1;
    border-bottom: 1px solid black;
    
    .ul-header{
    
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        li{
            list-style: none;
            color: black;
            margin: 1rem 2rem;
        }
        a{
            font-size: 125%;
            text-decoration: none;
            
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border-radius:10px;
            
    }
     a:hover{
        transition: 0.3s;
        background-color: $color2;
        color: rgb(255, 255, 255);
    }
    }
    &-img{
        width: 175px;
        border: 1px solid rgb(0, 0, 0);
    
    }
    .nav{
        padding: 0;
        background-color: $color1;
        
        }
    }

    /*final de pagina va en todas*/

    footer{
    display: flex;
   background-color: $color3;
    height: 100%;
    padding: 1rem 2rem;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    .div-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .pfooter{
    
            display: flex;
            font-size: 25px;
            color: white;
            justify-items: center;
            align-items: center;
        }
        .info-footer{
            display: inline-block;
            font-size: 15px;
            color: white;
            justify-items: center;
            align-items: center;
        }
    }
    .redes-container{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        & ul li{
            display: inline-block;
            margin: 5px 10px;/*espacio entre los iconos*/
            width: 50px;
            height: 50px;
            text-align: center;
            a{
                display: block;
                padding: 0 10px;
                background:$colorredes;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0 3px 5px 0px rgba(255, 255, 255, 0.4);
                transition: .2s;
        }
        
    }
    & ul li a:hover{
        transform: translateY(-3) scale(1.05);
        box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.4);
        filter: none;}
         ul li .facebook:hover{
            background: var(--facebook);
        }
        ul li .instagram:hover{
            background: var(--instagram);
        }
        ul li .whatsapp:hover{
            background: var(--whatsapp);
        }
        ul li .twitter:hover{
            background: var(--twitter);
        }
    }
    }
}

@media only screen and (min-width: 601px) and (max-width: 1079px){

     /*inicio de pagina va en todas*/

     .header{
        align-items: center;
        flex-direction:row ;
    justify-content: space-evenly;
    display: flex;
    padding: 1rem 0rem;
    margin: 0 0 0 0;
    content: 0 100% 0 0;
    background-color: $color1;
    border-bottom: 1px solid black;
    
    .ul-header{
    
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        li{
            list-style: none;
            color: black;
            margin: 1rem 2rem;
        }
        a{
            font-size: 125%;
            text-decoration: none;
            
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border-radius:10px;
            
    }
     a:hover{
        transition: 0.3s;
        background-color: $color2;
        color: rgb(255, 255, 255);
    }
    }
    &-img{
        width: 175px;
        border: 1px solid rgb(0, 0, 0);
    
    }
    .nav{
        padding: 0;
        background-color: $color1;
        
        }

       
    }

    /*final de pagina va en todas*/
    footer{
        display: flex;
       background-color: $color3;
        height: 250px;
        padding: 1rem 2rem;
        flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    .div-footer{
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    .pfooter{
        
        display: flex;
        font-size: 25px;
        color: white;
        justify-items: center;
        align-items: center;
    }
    .info-footer{
        display: inline-block;
        font-size: 15px;
        color: white;
        justify-items: center;
        align-items: center;
    }
    }
    .redes-container{
        display: flex;
        
        align-items: center;
        justify-content: center;
        ul li{
            display: inline-block;
            margin: 10px 25px;/*espacio entre los iconos*/
            width: 50px;
            height: 50px;
            text-align: center;

            a{
                display: block;
                padding: 0 10px;
                background: $colorredes;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4);
                transition: .2s;
            
            }
            a:hover{
                transform: translateY(-3) scale(1.05);
                box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.4);
                filter: none;
            }
              .facebook:hover{
                background: var(--facebook);
            }
             .instagram:hover{
                background: var(--instagram);
            }
             .whatsapp:hover{
                background: var(--whatsapp);
            }
             .twitter:hover{
                background: var(--twitter);
            }
        }
    }
    }   
}

@media only screen and (min-width: 1080px ){

/*inicio de pagina va en todas*/

    .header{
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        display: flex;
        background-color: $color1;
        padding: 1rem 0rem;
        margin: 0 0 0 0;
        border-bottom: 1px solid black;
        content: 0 100% 0 0;
        .div-header{
            display: flex;
            width: 100%;
            justify-content: space-around;        
        }

        &-img{
        
        
            width: 175px;
            border: 1px solid rgb(0, 0, 0);
       
       }
       .nav{
        padding: 0;
        background-color: $color1;
    }
    .ul-header{
    
        display: flex;
        width: 100%;
        li{
            list-style: none;
            color: black;
            
            display: inline-block;
            margin: 1rem 2rem;
        }
        a{
            font-size: 125%;
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            
            border-radius:10px;
            
        }
        a:hover{
            transition: 0.3s;
    
            background-color: $color2;
            color: rgb(255, 255, 255);
        }
    }
    }

/*final de pagina va en todas*/

    footer{
        display: flex;
       background-color: $color3;
        height: 250px;
        padding: 1rem 2rem;
        flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    .div-footer{
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    .pfooter{
        
        display: flex;
        font-size: 25px;
        color: white;
        justify-items: center;
        align-items: center;
    }
    .info-footer{
        display: inline-block;
        font-size: 15px;
        color: white;
        justify-items: center;
        align-items: center;
    }
    }
    .redes-container{
        display: flex;
        
        align-items: center;
        justify-content: center;
        ul li{
            display: inline-block;
            margin: 0 20px;/*espacio entre los iconos*/
            width: 50px;
            height: 50px;
            text-align: center;

            a{
                display: block;
                padding: 0 10px;
                background: $colorredes;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.4);
                transition: .2s;
            
            }
            a:hover{
                transform: translateY(-3) scale(1.05);
                box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.4);
                filter: none;
            }
              .facebook:hover{
                background: var(--facebook);
            }
             .instagram:hover{
                background: var(--instagram);
            }
             .whatsapp:hover{
                background: var(--whatsapp);
            }
             .twitter:hover{
                background: var(--twitter);
            }
        }
    }
    }   
}
