@import "generales";
@import "variables";
@import "menu";
@import "grilla";



@media only screen and (max-width: 789px ){
    .encuestas{
        display:flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 1100px;
            width: 100%;
            padding: 2rem 2rem;
    }
    .encuestasdiv{
        background-color: rgba(29, 86, 242, 0.758);
                padding: 40px 40px;
                border-radius: 20px;
                display: flex;
                flex-direction: column; 
    }
/*menu principal*/

.main-inicio{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: $color2;
        height: 100%;
        padding: 3rem 2rem;

        .div-ini{
            padding: 2rem 0;
            align-content: space-around;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            display: flex;
            height: 90%;
            width: 90%;
            h1{
                text-align: center;
             }
    
        }

        .iframe-ini{
    
            border: 3px solid rgb(0, 0, 0);
            height: 0px;
            padding-bottom: 56.25%;
            position: relative;
            .iframe-a{
            
                width: 100%;
            }
        }
        
        .iframe-ini iframe{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
}

/*menu sobre nosotros*/

.main-sn{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $color2;
    height: 100%;
    width: 100%;
    padding: 2rem 2rem;
    .padre1{
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
        h2{
            text-align: center;
            margin: 0 0 40px 0;
        }
    }
    
    
    
    .padre2{
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
    }
    
    .padre3{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgsn{
        
            height: 60%;
            width: 80%;
            margin: 0 0 40px 0;
        }
    }
}

/*menu clientes*/

.main-cli{
   @extend .encuestas;
    background-color: $color2;

    
    .main-cli-div1{
        @extend .encuestasdiv;
        &-boton{
            padding: 30px 0 0 0 ;
            text-align: center;}
    }
}

/*menu contacto*/

.main-con{
    
        @extend .encuestas;
        background-color: $color2;
        
    
        .main-con-div1{
            @extend .encuestasdiv;
            
            &-boton{
                padding: 30px 0 0 0 ;
                text-align: center;
            }
        }
}

}

@media only screen and (min-width: 790px) and (max-width: 1079px){
    .encuestas-tablet{
        display:flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 1100px;
            width: 100%;
            padding: 2rem 2rem;
    }
    .encuestasdiv-tablet{
        background-color: rgba(29, 86, 242, 0.758);
                padding: 40px 40px;
                border-radius: 20px;
                display: flex;
                flex-direction: column; 
    }
   /*menu principal*/

.main-inicio{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color:$color2;
    height: 100%;
    padding: 3rem 2rem;

    .div-ini{
        padding: 2rem 0;
        align-content: space-around;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        height: 90%;
        width: 90%;
        h1{
            text-align: center;
         }

    }

    .iframe-ini{

        border: 3px solid rgb(0, 0, 0);
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
        .iframe-a{
        
            width: 100%;
        }
    }
    
    .iframe-ini iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
} 

/*menu de la galeria*/

 
/*menu sobre nosotros*/
   .main-sn{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:$color2;
    height: 100%;
    width: 100%;
    padding: 2rem 2rem;
    .padre1{
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
        h2{
            text-align: center;
            margin: 0 0 40px 0;
        }
    }
    
    
    
    .padre2{
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
    }
    
    .padre3{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgsn{
        
            height: 60%;
            width: 80%;
            margin: 0 0 40px 0;
        }
    }
}
/*menu clientes*/
.main-cli{
    @extend .encuestas-tablet;
    background-color: $color2;
    
    .main-cli-div1{
        @extend .encuestasdiv-tablet;
        &-boton{
            padding: 30px 0 0 0 ;
            text-align: center;}
    }
}

/*menu contacto*/

.main-con{
        background-color: $color2;
        @extend .encuestas-tablet;
    
        .main-con-div1{
            @extend .encuestasdiv-tablet;
            &-boton{
                padding: 30px 0 0 0 ;
                text-align: center;
            }
        }
}
  
}


@media only screen and (min-width: 1080px ){

   
    /*menu inicial*/

    .main-inicio{
        justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: $color2;
    height: 1600px;
    padding: 4rem 3rem;
    flex-direction: column;
    
    .div-ini1{
        
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .div-ini{

        justify-content: center;
        flex-direction: column;
        display: flex;
        height: 80%;
        width: 30%;
    }
    p{
        font-size: 20PX;
        margin: 50px 0 0 0;
    }
    }
    .iframe-ini{
        border: 3px solid rgb(0, 0, 0);
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
        
        
    }
    
    .iframe-ini iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    

    
    .iframe-a{
        
        width: 50%;
    }
    
    }

    /*menu sobre nosotros*/

       .main-sn{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $color2;
        height: 1100px;
        width: 100%;
        padding: 2rem 10rem;
        .padre1{
            display: flex;
            flex-direction: column;
            margin: 0 0 40px 0;
            h2{
                text-align: center;
                margin: 0 0 40px 0;    
        }
        .p-tex{
            font-size:20px ;
        }
        }  
        
        .padre2{
            display: flex;
            flex-direction: column;
            margin: 0 0 40px 0;
            h2{
                text-align: center;
                margin: 0 0 40px 0;
            }
        }
    
         .padre3{
            display: flex;
            flex-direction: row;
            align-items: center;
             justify-content: space-around;
             div{
                display: inline-block;
                width: 40%;
            }
            .imgsn{
                position: relative;
                top: 0;
                left: 0;
                height: auto;
                width: auto;
                max-width: 50%;
                max-height: 70%;
                margin: 0 30px 0 30px;
        
            }
        }
        
    }
    
    

    /*menu clientes*/

    .main-cli{
        display: flex;
        background-color: $color2;
        height: 800px;
        padding: 0rem 10rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        p{
            font-size: 20px;
        }
        &-div1{
            background-color: rgba(29, 86, 242, 0.758);
            padding: 40px 40px;
            border-radius: 20px;
            display: flex;
            flex-direction: column; 
            &-boton{
                padding: 30px 0 0 0 ;
                text-align: center;
            }
        }
    }
    /*menu contacto*/

    .main-con{
        display: flex;
        background-color:$color2;
        height: 1200px;
        padding: 0rem 10rem;
        flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &-div1{
        background-color: rgba(29, 86, 242, 0.758);
        padding: 40px 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column; 
        &-boton{
            padding: 30px 0 0 0 ;
            text-align: center;
        }
    }
    }    
}